        /*
        Author: Suruchi Shrestha
        Date: 10-12-2025
        File Name: styles.css
        */

        /* CSS reset */
        body,
        header,
        nav,
        main,
        footer,
        h1,
        div,
        img,
        ul {
            margin: 0;
            padding: 0;
            border: 0;
        }

        body {
            background-color: #000;
        }

        img {
            max-width: 100%;
            display: block;
        }

        /* Header styling */
        header {
            width: 100%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: #000;
            height: 190px;
        }

        header img {
            display: block;
            margin: 0 auto;
        }

        /* Navigation */
        nav {
            padding: 1%;
            margin-bottom: 1%;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            text-align: center;
            /* Final alignment applied */
        }

        nav li {
            font-size: 1.5em;
            font-family: 'Francois One', sans-serif;
            border-top: 1px solid #fff;
        }

        nav li a {
            display: block;
            color: #fff;
            text-align: center;
            text-decoration: none;
            padding: 0.5em 1em;
        }

        /* Mobile vs Tablet/Desktop */
        .mobile {
            display: block;
        }

        .tablet-desktop {
            display: block;
        }

        /* Main content */
        main {
            clear: left;
            background-color: #dcd6f1;
            padding: 2%;
            font-size: 1.25em;
            font-family: 'Roboto Slab', serif;
        }

        /* Hours section */
        .hours {
            margin-left: 10%;
        }

        /* Telephone link */
        .tel-link {
            background-color: #404040;
            padding: 2%;
            margin: 0 auto;
            width: 80%;
            text-align: center;
            border-radius: 5px;
        }

        .tel-link a,
        .tel-link b {
            color: #fff;
            text-decoration: none;
            font-size: 1.5em;
            display: block;
        }

        /* Action text */
        .action {
            font-size: 1.35em;
            color: #666600;
            font-weight: bold;
        }


        /* Media Query for Tablet Viewport */
        @media screen and (min-width: 630px) {

            /*insert a media query*/
            /* Tablet Viewport: Show tablet-desktop class, hide mobile class */
            .tablet-desktop {
                display: block;
            }
            
            .mobile {
                display: none;
            }

            /* Tablet Viewport: Style rule for header */
            header {
                position: static;
                padding-bottom: 2%;
            }

            /* Tablet Viewport: Style rules for nav area */
            nav li {
                border-top: none;
                display: inline-block;
                border-right: 1px solid #fff;
            }

            nav li:last-child {
                border-right: none;
            }

            nav li a {
                padding: 0.1em 0.75em;
            }
        }

        /* media queryfor Table Viewport closing brace */

        /* Media Query for Desktop Viewport */
        @media screen and (min-width: 769px) {

        /* Desktop Viewport: Style rule for header */
        header {
        width: 25%;
        float: left;
        padding-bottom: 0;
        }

        /* Desktop Viewport: Style rules for nav area */
        nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
        }

        nav ul{
            text-align: right;
        }
        nav li{
            border: none;
        }

        nav li a{
            padding: 0.5em 1em;
        }

        main{
            clear: left;
        }
        main h1{
            font-size: 1.8em;
        }
        
        #weights, #cardio, #training
    {
        width: 29%;
        float: left;
        margin: 0 2%;
    }
        #exercises {
        clear: left;
    }
        }


        /* media query for Desktop Viewport closing brace */



        /* Exercises section */
        /*
        #exercises {
            clear: left;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            background-color: #6d4d94;
            padding: 1% 2%;
        }/*

        #exercises dt {
            font-weight: bold;
        }

        #exercises dd {
            padding: 0.5% 1% 2% 0;
        }
    '*/
        #weights,
        #cardio,
        #training {
            margin: 0 2%;
        }

        .round {
            border-radius: 8px;
        }

        /* Contact section */
        #contact {
            text-align: center;
        }

        #contact a {
            color: #6d4d94;
            text-decoration: none;
        }

        /* Footer */
        footer p {
            font-size: 0.75em;
            text-align: center;
            text-decoration-color: white;
            color: #fff;
            padding: 0 1em;
        }

        footer p a {
            color: #fff;
            text-decoration: none;
        
    
        }